.block
{
    display: inline-block;
}

.margin
{
    margin: 5px 5px;
}

img
{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.large
{
    font-size: large;
}

.center
{
    text-align: center;
}

.left
{
    text-align: left;
    display: inline-block;
}

.bluetext
{
    color: blue;
    font-family: "Trebuchet MS";
    font-size: large;
}

.redtext
{
    color: red;
    font-family: "Trebuchet MS";
    font-size: large;
}


.text
{
    font-family: "Trebuchet MS";
    font-size: large;
    color: forestgreen;
}

.counter
{
    float: left;

}

.flip
{
    float: right;
}

.message
{
    font-family: "Trebuchet MS";
    font-size: 25px;
    color: forestgreen;
}

.finish-text
{
    font-family: "Trebuchet MS";
    text-align: center;
    font-size: 23px;
    color: mediumseagreen;
}

.hide
{
    visibility: hidden;
}

.show
{
    visibility: visible;
}


/*Home*/

.hh1
{
    color: forestgreen;
}


.hmargin
{
    margin: 10px 40px 20px;
}


.hpara
{
    line-height: 1.3;
    color: darkgreen;
    font-family: "Georgia";
}

.hcaption

{
    margin-top: 20px;
    color: mediumseagreen;
    font-family: "Trebuchet MS";
    font-size: 20px;
    line-height: 1.7;
}

.site-text
{
    margin: 20px 50px;
    font-size: 20px;
}


table
{
    width: 100%;
}

tr
{
    border-top: 1px solid lightgrey;
}

/* Got this from: https://www.w3schools.com/cssref/sel_nth-child.asp */
tr:nth-child(even)
{
    background-color: whitesmoke;
}

th, td
{
    padding: 12px;
    text-align: left;
}

/*Anthem page*/

.column
{
    float: left;
    margin: 10px;
    width: 45%;
}

.aheading
{
    color: black;
}

.atext
{
    font-size: large;
}

.orange
{
    color: orange;
}

.limegreen
{
    color: limegreen;
}

.blue
{
    color: blue;
}

/*Culture of Kannada*/

h2
{
    font-family: "Helvetica";
    color: lightseagreen;
}

.ksitetext
{
    font-size: large;
    color: dimgrey;
    font-family: "Trebuchet MS";
}

.ktext
{
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Trebuchet MS";
    color: teal;
}


.kblock
{
    vertical-align: middle;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

.kcaption
{
    font-family: "Arial";
    color: darkcyan;
    font-size: medium;
}