{% extends "layout.html" %}

{% block title %}
    Anthem
{% endblock %}

{% block main %}

<div>
    <h1 class="aheading">The National Anthem</h1>
    <br>
    <div class="column atext">
        <p class="orange">
            जन गण मन अधिनायक जय हे<br>
            भारत भाग्य विधाता।<br>
            पंजाब, सिंधु, गुजरात, मराठा,<br>
            द्राविड, उत्कल, वंग।
        </p>
        <p class="blue">
            विंध्य, हिमाचल, यमुना, गंग,<br>
            उच्चल जलधितरंग।<br>
            तव शुभनामे जागे,<br>
            तव शुभ आशिष मांगे,<br>
            गाहे तव जय गाथा।<br>
        </p>
        <p class="limegreen">
            जनगण मंगलदायक जय हे<br>
            भारत भाग्यविधाता।<br>
            जय हे, जय हे, जय हे,<br>
            जय जय जय जय हे।
        </p>
    </div>
    <div class="column atext">
        <p class="orange">
             ಜನ ಗಣ ಮನ ಅಧಿನಾಯಕ ಜಯ ಹೇ,<br>
            ಭಾರತ ಭಾಗ್ಯ ವಿಧಾತಾ.<br>
            ಪಂಜಾಬ, ಸಿಂಧು, ಗುಜರಾತ, ಮರಾಠಾ,<br>
            ದ್ರಾವಿಡ, ಉತ್ಕಳ, ವಂಗ.
        </p>
        <p class="blue">
            ವಿಂಧ್ಯ, ಹಿಮಾಚಲ, ಯಮುನಾ, ಗಂಗ,<br>
            ಉಚ್ಚಲ ಜಲಧಿತರಂಗ.<br>
            ತವ ಶುಭನಾಮೇ ಜಾಗೇ,<br>
            ತವ ಶುಭ ಆಶಿಷ ಮಾಗೇ,<br>
            ಗಾಹೇ ತವ ಜಯ ಗಾಥಾ.

        </p>
        <p class="limegreen">
            ಜನಗಣ ಮಂಗಳದಾಯಕ ಜಯ ಹೇ<br>
            ಭಾರತ ಭಾಗ್ಯವಿಧಾತಾ.<br>
            ಜಯ ಹೇ, ಜಯ ಹೇ, ಜಯ ಹೇ,<br>
            ಜಯ ಜಯ ಜಯ ಜಯ ಹೇ.
        </p>
    </div>
</div>


{% endblock %}