{% extends "layout.html" %}

{% block title %}
    Culture
{% endblock %}

{% block main %}

    <div>
        <h1>Karnataka (ಕರ್ನಾಟಕ)</h1>
        <br>
        <div>
            <div style="text-align:justify">

                <p class="ksitetext">Karnataka is the largest state in South India and has a population of over 7 crores. Its capital, Bengaluru, is
                known as the Silicon Valley of India because it is a major hub for IT companies. Karnataka has a diverse culture revolving around
                dance, music folk and drama.
                </p>

                <p class="ksitetext">Kannada is the official language of Karnataka and is one of the six classical languages of India.</p>

            </div>
            <img src="/static/images/map.jpg" alt= "Map of India" width=100%>
            <br>
            <br>

            <div style="text-align:justify">
                <h2 class="kh2">Cuisine</h2>
                <p class="ktext">Bisi bele bath is a classic dish of Karnataka. It contains rice, lentils, assorted vegetables, and spices.
                Kannada is also known for the variety of dosas it serves, including Mysore masala dosa, neer dosa and Devangere benne dosa.
                </p>
                <br>
            </div>

            <div class="kblock kmargin">
                <p><img src="static/images/bisibelebath.jpg" alt="Bisibelebath" width="400" height="225"></p>
                <p class="kcaption">Bisibelebath</p>
            </div>

            <div class="kblock kmargin">
                <p><img src="static/images/mysoredosa.jpg" alt="Mysore Masala Dosa" width="400" height="225"></p>
                <p class="kcaption">Mysore Masala Dosa</p>
            </div>

            <br>
            <br>

            <div style="text-align:justify">
                <h2 class="kh2">Dance</h2>
                <p class="ktext">Karnataka has a variety of dance forms. The traditional dance form of Karnataka is Dollu Kunitha performed during
                major festivals. It is a lively dance involving quick movements accompanied with singing and drumbeats. Other dance forms include
                Bharatnatyam, Kuchipudi and Yakshagana.
                </p>
                <br>
            </div>

            <div class="kblock kmargin">
                <p><img src="static/images/dollukanitha.jpg" alt="Dollu Kanitha" width="400" height="225"></p>
                <p class="kcaption">Dollu Kanitha</p>
            </div>

            <div class="kblock kmargin">
                <p><img src="static/images/bharatnatyam.jpg" alt="Bharatnatyam" width="400" height="225"></p>
                <p class="kcaption">Bharatnatyam</p>
            </div>

            <br>
            <br>

            <div style="text-align:justify">

                <h2 class="kh2">Festivals</h2>
                <p class="ktext">The Hampi Festival is celebrated in November to relive the past traditions and culture of the Vijaynagar Empire.
                Tourists are drawn to the intricately carved ruins of Hampi and enjoy the dance performances and folk songs showcased by the locals.
                </p>
                <p class="ktext">Kambala is a traditional buffalo race held annually in most districts of Dakshin Kannada and Udupi of Karnataka. This festival
                is unique to Karnataka and drives participation from the farming community. Women have now been allowed to participate in Kambala, a traditionally
                male-dominated sport.
                </p>

                <br>
            </div>

            <div class="kblock kmargin">
                <p><img src="static/images/hampi.jpg" alt="Hampi Festival" width="400" height="225"></p>
                <p class="kcaption">Hampi Festival</p>
            </div>

            <div class="kblock kmargin">
                <p><img src="static/images/kambala.jpg" alt="Kambala" width="400" height="225"></p>
                <p class="kcaption">Kambala</p>
            </div>

        </div>

    </div>

{% endblock %}