{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <p class="hpara site-text">Learn how to read an Indian regional language the fun way!</p>

    <div class="hmargin hcaption">

        <p><img src="/static/game_snap.png" alt="Picture of memory game" width="800"></p>

        <p>Play our effective memory game to learn fast!</p>

    </div>
    <div class="hmargin hcaption">

        <p><img src="/static/kannada.png" alt="Kannada in Kannada" width="250" height="80"></p>

        <p>We have started with Kannada, but we'll add more languages soon!</p>

    </div>

{% endblock %}
